* {

    font-family: Raleway;
    /* margin: 0;
    padding: 0; */
}

/* Nav Style */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 158px;
}

.nav-logo {
    font-family: Inter;
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}

/* Button Style */

.btn-primary {
    width: 132px;
    height: 48px;
    background-color: #4E47FF;
    border-radius: 10px;
    border: 1px solid #4E47FF;
    font-size: 16px;
    font-weight: 700;
    padding: auto 36px;
    color: #FFFFFF;
}

.second-button {
    width: 174px;
}

.third-button {
    width: 229px;
}

/* First Banner */

.first-banner {
    margin: 100px 260px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-banner-title {
    font-size: 65px;
    font-weight: 700;
    color: #252432;
    text-align: center;
    margin-bottom: 37px;
}

.header {
    height: 698px;
    /* border: 2px solid black; */
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Main Style */
main {
    /* background-color: rgb(245, 248, 255); */
    max-width: 1140px;
    margin: 130px auto;
}

/* Second Banner */

.second-banner {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
}

.second-banner-title {
    font-size: 42px;
    font-family: 700;
    color: #252432;
    margin-bottom: 23px;
}

.second-banner-description {
    font-size: 24px;
    font-weight: 400;
    color: #25243280;
    margin-bottom: 23px;
}

.second-banner img {
    border-radius: 48px;
}

/* Third Banner */

.third-banner {
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    padding: 50px 80px;
    margin-top: 116px;
    margin-bottom: 116px;
}

.views-container {
    display: flex;
    justify-content: space-around;
}

.third-banner-title {
    font-size: 38px;
    font-weight: 700;
    color: #252432;
    text-align: center;
    margin-bottom: 40px;
}

.view-title {
    font-family: Inter;
    font-size: 80px;
    font-weight: 700;
    color: rgb(78, 71, 255);
    text-align: center;
}

.view-description {

    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* Fourth Banner */

.reviewer-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.reviewer-container div p {
    font-size: 16px;
    font-weight: 600;
    color: #757575;
}

.reviewer-container div p span {
    font-size: 16px;
    font-weight: 400;
    color: #B3B3B3;
}

.reviewer-container img {
    border-radius: 50%;
}

.card {
    width: 365px;
    box-sizing: border-box;
    border: 1px solid rgb(242, 237, 237);
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.5);
    padding: 24px;
}

.card-container {
    display: flex;
    gap: 20px;
}

.fourth-banner-title {
    font-size: 42px;
    font-weight: 700;
    color: black;
    text-align: center;
}

.fourth-banner {
    margin-bottom: 116px;
}

/* Extra Banner */

.extra-banner {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 116px;
}

.extra-banner h2 {
    font-size: 50px;
    font-weight: 700;
    color: black;
}

.extra-banner p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    color: #00000080;
}

.extra-banner button {
    width: 174px;
    height: 48px;
    background-color: #4E47FF;
    border-radius: 10px;
    border: 1px solid #4E47FF;
    font-size: 16px;
    font-weight: 700;
    padding: auto 36px;
    color: #FFFFFF;
    margin-bottom: 20px;

}

.extra-banner img {
    border-radius: 48px;
}